body {
    font-family: Roboto;
}
#container {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    max-width: 1320px;
    margin: 0 auto;
}
header, main, footer {
    border: 5px solid red;
}
header {
    display: flex;
    align-items: center;
    opacity: 0.8;
    background-color: rgba(39, 39, 39, 1);
    height: 120px;

    grid-template-columns: repeat(12, 1fr);
    display: grid;
    gap: 19px;
    position: fixed;
    top: 0;
    width: 1320px;
    z-index: 1;
}
.logo {
    height: 60px;
    width: 164px;
    grid-column: 2 / span 1;
}
nav {
    grid-column: 8 / span 5;
}
nav a {
    margin-right: 50px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
}

/* CAROUSEL */
* {box-sizing:border-box}
.slide-container {
  position: relative;
  margin: auto;
}
.slide {
    display: block;
}
.slide img {
    height: 820px;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 0 90px;
}
.next {
  right: 0;
}
.text {
  color: #f2f2f2;
  padding: 8px 218px;
  position: absolute;
  top: 120px;
  width: 75%;
  text-align: left;
  font-family: Helvetica;;
}
.dot {
    cursor: pointer;
    display: block;
    width: 60px;
    height: 60px;
    opacity: 30%;
    background-color: #F07C79;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    font-family: Roboto monospace;
    text-align: center;
    padding: 16px;
}
.active, .dot:hover {
    opacity: 1;
}
.text h1 {
    font-size: 60px;
    line-height: 80px;
}
.text p {
    font-size: 20px;
}
.text a {
    font-size: 20px;
    background-color: #F07C79;
    border-radius: 16px;
    padding: 19px 19px 18px 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 20px;
    display: inline-block;
}
.prev img, .next img {
    width: 29px;
    height: 46px;
}
.lateral-counter {
    position: absolute;
    top: 20%;
}
/* END CAROUSEL */

/* NEWS */
.news {
    display: flex;
    padding: 60px 50px;
}
.news .news-container {
    width: 33%;
    padding: 0 10px;
}
.news picture {
    display: flex;
    overflow: hidden;
    height: 240px;
}
.news picture img {
    width: 100%;
    max-width: inherit;
    max-height: inherit;
    object-fit: cover;
}
.news .news-text {
    padding: 14px 22px;
    background-color: #F3F3F3;
}
.news .date {
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    color: #838080;
    display: block;
}
.news h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #ED6562;
    margin: 9px 0;
}
.news-text p {
    font-size: 20px;
    font-weight: 400;
}
.hover-show {
    display: none;
}
.news-container:hover .hover-hide {
    display: none;
}
.news-container:hover .hover-show {
    display: block;
    position: relative;
    color: #FFFFFF;
    height: 100%;
    background: linear-gradient(180deg, rgba(237, 101, 98, 0.3) 0%, rgba(237, 101, 98, 1) 100%);
}
.hover-show h2, .hover-show .date {
    color: #FFFFFF;
}
.hover-show .news-text {
    position: absolute;
    top: 0;
    padding-top: 100px;
    height: inherit;
    background: linear-gradient(180deg, rgba(237, 101, 98, 0.3) 0%, rgba(237, 101, 98, 1) 100%);
}
.hover-show .news h2 {
    margin: 9px 0 25px;
}