body {
    font-family: Roboto;
    margin: 0;
}
main {
    max-width: 1320px;
}
#container {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    max-width: 1320px;
    margin: 0 auto;
}
header {
    display: flex;
    align-items: center;
    opacity: 0.8;
    padding: 30px 122px 30px 60px;
    justify-content: space-between;
    background-color: rgba(39, 39, 39, 1);
    height: 120px;
    /* grid-template-columns: repeat(12, 1fr); */
    /* display: grid; */
    /* gap: 19px; */
    position: fixed;
    top: 0;
    width: 1320px;
    z-index: 3;
}
.logo {
    height: 60px;
    width: 164px;
}
nav a {
    margin-right: 50px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
}
nav a:hover {
    color: #F07C79;
}

/* CAROUSEL */
* {box-sizing:border-box}
.slide-container {
  position: relative;
  margin: auto;
}
.slide {
    display: block;
}
.slide img {
    height: 820px;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 0 90px;
}
.next {
  right: 0;
}
.text {
  color: #f2f2f2;
  padding: 8px 218px;
  position: absolute;
  top: 120px;
  width: 75%;
  text-align: left;
  font-family: Helvetica;;
}
.dot {
    cursor: pointer;
    display: block;
    width: 60px;
    height: 60px;
    opacity: 30%;
    background-color: #F07C79;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    font-family: Roboto monospace;
    text-align: center;
    padding: 16px;
}
.active, .dot:hover {
    opacity: 1;
}
.text h1 {
    font-size: 60px;
    line-height: 80px;
}
.text p {
    font-size: 20px;
}
.text a {
    font-size: 20px;
    background-color: #F07C79;
    border-radius: 16px;
    padding: 19px 19px 18px 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 20px;
    display: inline-block;
}
.prev img, .next img {
    width: 29px;
    height: 46px;
}
.lateral-counter {
    position: absolute;
    top: 20%;
}
/* END CAROUSEL */

/* NEWS */
.news, .card-container {
    display: flex;
    padding: 60px 50px;
}
.news {
    z-index: 2;
    position: relative;
}
.news .news-container, .card {
    width: 33%;
    padding: 0 10px;
}
.news picture {
    display: flex;
    overflow: hidden;
    height: 240px;
}
.news picture img {
    width: 100%;
    max-width: inherit;
    max-height: inherit;
    object-fit: cover;
}
.news .news-text {
    padding: 14px 22px;
    background-color: #F3F3F3;
}
.news .date {
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    color: #838080;
    display: block;
}
.news h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #ED6562;
    margin: 9px 0;
}
.news-text p {
    font-size: 20px;
    font-weight: 400;
}
.hover-show {
    display: none;
}
.news-container:hover .hover-hide, .news-container.active  .hover-hide {
    display: none;
}
.news-container:hover .hover-show, .news-container.active .hover-show {
    display: block;
    position: relative;
    color: #FFFFFF;
    height: 100%;
    background: linear-gradient(180deg, rgba(237, 101, 98, 0.3) 0%, rgba(237, 101, 98, 1) 100%);
}
.hover-show h2, .hover-show .date {
    color: #FFFFFF;
}
.hover-show .news-text {
    position: absolute;
    top: 0;
    padding-top: 100px;
    height: inherit;
    background: linear-gradient(180deg, rgba(237, 101, 98, 0.3) 0%, rgba(237, 101, 98, 1) 100%);
}
.hover-show .news h2 {
    margin: 9px 0 25px;
}


h3 {
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    text-align: right;
    color: #ED6562;
    width: 55%;
    display: block;
    margin-right: 0;
}
.h3-2 {
    text-align: left;
    padding: 60px;
    position: absolute;
    top: 45%;
}
.onde-2, .onde-1 {
    position: relative;
}
.onde-1 {
    top: -130px;
    z-index: 1;
}
.onde-2 {
    top: -150px;
}
.onde-3::after {
    margin: 0;
}
.onde-3 {
    position: relative;
    top: -565px;
    z-index: 1;
    margin-bottom: -570px;
}
.onde-2 img, .onde-1 img, .onde-3 img {
    width: -webkit-fill-available;
}
.onde-1 h3 {
    margin-right: 60px;
    position: absolute;
    right: 0;
    bottom: 180px;
}

/* CARD */
.card {
    text-align: center;
    display: grid;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);
    margin: 0 10px;
    padding: 0 40px;
}
.card img {
    width: 219px;
    height: auto;
    display: block;
    margin: 33px auto;
}
.card span {
    font-size: 34px;
    font-weight: 700;
    margin-top: 33px;
    padding-bottom: 17px;
}
.card span:first-child {
    border-bottom: 2px solid #fff;
}
.card p {
    font-size: 16px;
    font-weight: 400;
}
.card a {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    width: fit-content;
    margin: auto;
    border-radius: 16px;
    padding: 19px;
    margin-bottom: 70px;
}
.card:nth-child(1) a {
    background-color: #F07C79;
}
.card:nth-child(2) a {
    background-color: #E2CA40;
}
.card:nth-child(3) a {
    background-color: #28AFB0;
}
.card:nth-child(1) span {
    color: #F07C79;
    border-bottom: 2px solid #F07C79;
}
.card:nth-child(2) span {
    color: #E2CA40;
    border-bottom: 2px solid #E2CA40;
}
.card:nth-child(3) span {
    color: #28AFB0;
    border-bottom: 2px solid #28AFB0;
}
.card:hover, .card.active {
    color: #FFFFFF;
}
.card:hover:nth-child(1), .card.active {
    background-color: #F07C79;
}
.card:hover:nth-child(2) {
    background-color: #E2CA40;
}
.card:hover:nth-child(3) {
    background-color: #28AFB0;
}
.card:hover span, .card.active span {
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}
/* END CARD */

/* FOOTER */
footer {
    background-color: #272727;
    padding: 80px 60px 50px 60px;
    color: #FFFFFF;
    font-size: 14px;
}
.social {
    list-style: none;
    display: flex;
    padding-top: 16px;
}
.social img {
    width: 40px;
    height: auto;
    margin-right: 16px;
}
footer .logo {
    display: block;
}
footer ul {
    padding: 0;
}
.bloc-left ul a {
    text-decoration: none;
    color: #FFFFFF;
}
.bloc-left {
    font-weight: 500;
}
.bloc-right {
    font-weight: 700;
}
.bloc-left ul a span {
    padding: 0 8px;
}
.bloc-left>span {
    display: block;
    margin-top: 25px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}

/* TIMELINE */
.timeline {
    max-width: 1320px;
    padding: 120px 170px 0;
    background: linear-gradient(180deg, rgba(39, 39, 39, 1) 0%, rgba(70, 70, 70, 1) 100%);
    top: -140px;
    position: relative;
}
.timeline img {
    width: -webkit-fill-available;
    height: fit-content;
}
.timeline .icon img {
    width: 92px;
    height: auto;
    background-color: #44E0DC;
    border-radius: 50%;
    padding: 22px;
    overflow: visible;
    position: relative;
    top: 24px;
    left: 24px;
}
.icon-transparent-bg {
    display: none;
    width: 140px;
    height: 140px;
    background-color: #44E0DC;
    opacity: 0.3;
    position: absolute;
    border-radius: 50%;
}
.card-container {
    top: -150px;
    position: relative;
    z-index: 2;
}
.bloc-timeline {
    position: relative;
    height: 135px;
    margin: 0 270px;
}
.bloc-timeline .title {
    display: grid;
    text-align: right;
    font-size: 34px;
}
.bloc-timeline .bloc-content p {
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    color: #FFFFFF;
}
.bloc-title {
    display: flex;
    align-items: baseline;
    width: fit-content;
}
.bloc-title .title { 
    display: grid;
    text-align: right;
}
.bloc-title span:first-child {
    font-size: 80px;
    font-weight: 700;
}
.bloc-title span:last-child {
    font-size: 34px;
    font-weight: 700;
}
.bloc-timeline:nth-child(even) {
    padding: 30px 0 30px 30px;
}
.bloc-timeline:nth-child(odd) {
    padding: 30px 30px 30px 0;
}
.bloc-timeline::before {
    content: "";
    position: absolute;
    width: 88%;
    border: solid #FFFFFF;
}
/* border top, bottom, left */
.bloc-timeline:nth-child(even)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
}
/* border top, right, bottom */
.bloc-timeline:nth-child(odd)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
}
/* Removing border left of first card */
.bloc-timeline:first-child::before {
    border-left: 0;
    border-bottom-left-radius: 0;
    bottom: 1px;
}
/* Removing border last card */
.bloc-timeline:last-child::before {
    border-bottom: 0;
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.info {
    display: flex;
    flex-direction: column;
    color: gray;
    border-radius: 10px;
    padding: 10px;
}
.info .bloc-content {
    display: none;
}
.bloc-timeline:nth-child(odd) > .info > .title {
    text-align: right;
}
/* Setting title left/right */
.bloc-timeline:nth-child(even) .bloc-title {
    position: absolute;
    top: -79px;
    right: -250px;
}
.bloc-timeline:nth-child(odd) .bloc-title {
    position: absolute;
    left: -300px;
    top: -68px;
}
.bloc-timeline:nth-child(odd) .bloc-title .title {
    text-align: right;
    padding-left: 50px;
}
.bloc-timeline:nth-child(even) .bloc-title .title {
    text-align: left;
    padding-left: 50px;
}
.bloc-timeline:nth-child(1) .title, .bloc-timeline:nth-child(4) .title {
    color: #44E0DC;
}
.bloc-timeline:nth-child(1) .icon img, .bloc-timeline:nth-child(4) .icon img {
    background-color: #44E0DC;
}
.bloc-timeline:nth-child(2) .title, .bloc-timeline:nth-child(5) .title {
    color: #FFED65;
}
.bloc-timeline:nth-child(2) .icon img, .bloc-timeline:nth-child(5) .icon img {
    background-color: #FFED65;
}
.bloc-timeline:nth-child(3) .title, .bloc-timeline:nth-child(6) .title {
    color: #F07C79;
}
.bloc-timeline:nth-child(3) .icon img, .bloc-timeline:nth-child(6) .icon img {
    background-color: #F07C79;
}
.icon {
    cursor: pointer;
}
  